@model Blogger.WebUI.Models.AdminCommentsViewModel;
@{
    ViewData["Title"] = "Comments";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!--Admin Post-Comment List-->
<div class="mt-2">
    <h2>Yorumlar</h2>

    <br />

    <h5><strong>Paylaşım Adı : </strong> @Model.Post.Title</h5>
    <!--Comments DataTable-->
    <div class="mt-4">
        <table id="dataTable" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Yorum</th>
                    <th>Cevaplar</th>
                    <th>Sil</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var comment in Model.Post.Comments)
                {
                    <tr>
                        <td>@comment.Id</td>
                        <td>@comment.CommentContent</td>
                        <td><a class="btn btn-info" asp-controller="Admin" asp-action="Replies" asp-route-commentId="@comment.Id">Cevaplar</a></td>
                        <td><a class="btn btn-danger" asp-controller="Comment" asp-action="Delete" asp-route-commentId="@comment.Id">Sil</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

